.left_panel {
    height: 100%;
    width: 250px;
    position: fixed;
    /* z-index: 1; */
    top: 0;
    left: 0;
    background-color: #2d2323;
    overflow-x: hidden;
    /* transition: 0.5s; */
    padding-top: 20px;
  }
  
  .left_panel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 12px;
    color: white;
    display: block;
    /* background-color: #464242; */
    transition: 0.3s;
  }
  
  .left_panel a:hover {
    color: #f1f1f1;
  }
  
  /* .left_panel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  } */
  
  .deactivated_link{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 12px;
    color: white;
    display: block;
    /* background-color: #464242; */
    transition: 0.3s;
  }

  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  
  @media screen and (max-height: 450px) {
    .left_panel {padding-top: 15px;}
    .left_panel a {
      font-size: 14px;
      font-weight: 100;
      font-family: sans-serif;
    }
  }


  .left_panel h3{
    font: 24px sans-serif;
    margin: 10px auto auto 30px;
    color: whitesmoke;
    font-weight: 200;
  }