  .left-panel {
    height: 100%;
    width: 250px;
    position: fixed;
    background: yellow;
    top: 0;
    left: 0;
    background-color: rgb(65, 14, 62);
    overflow-x: hidden;
    padding: 20px;
    color: white;
  }

  .product-desc {
    display: flex;
    width: 100%;
  }

  .product-name {
    width: 100px;
    font-size: 26px;
    font-weight: 200;
    line-height: 1em;
    margin-left: 15px;
  }

  .folder-options {
    font-size: 12px;
    font-weight: 100;
    margin-top: 30px;
  }

  .option-item {
    line-height: 2em;
    display: flex;
    align-items: center;
    margin-left: 10px
  }

  .main-option {
    margin: unset;
  }

  .option-name {
    margin-left: 10px;
  }

  .large-icon {
    font-size: 18px !important;
  }

  .small-icon {
    font-size: 14px !important;
  }
  
  .left-panel a {
    padding: 0;
    text-decoration: unset;
    color: unset;
  } 
  
  .left-panel a:hover {
    text-decoration: unset;
    color: unset;
  }
  
  .deactivated_link{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 12px;
    color: white;
    display: block;
    /* background-color: #464242; */
    transition: 0.3s;
  }

  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  
  @media screen and (max-height: 450px) {
    .left-panel {padding-top: 15px;}
    .left-panel a {
      font-size: 14px;
      font-weight: 100;
      font-family: sans-serif;
    }
  }